* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Futura;
    src: url(../fonts/futura/Futura\ Bold\ font.ttf);
    font-weight: 700;
}

header {
    padding-top: 30px;
    background-image: url(../image/bg1.jpg);
    background-attachment: fixed;
    background-size: cover;  
}

.header_wrapper {
    background:linear-gradient(166deg, transparent 74%, white 0) right,  linear-gradient(-166deg, transparent 74%, white 0) left; 
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border: none; 
}

.header_main {
    padding-top: 40px;
    padding-bottom: 37px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.logo_wrapper {
    display: flex;
    padding-right: 152px;   
}

.logo_wrapper-item1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
}

.logo_wrapper-item2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #14AFCA;
}

.nav_list {
    width: 595px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #3E4C4E;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

li:first-child {
    color: #14AFCA;
}

.header_title {
    text-align: center;
}

h1 {
    font-family: 'Futura';
    font-size: 52px;
    line-height: 75px;
    color: #FFFFFF;
}

h1:first-child {
    padding-top: 149px;
}

h1:last-child {
    padding-bottom: 134px;
}

.section1_title {
    margin-top: 122px;
    text-align: center;
    height: 133px;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    color: #14AFCA;
    padding-top: 11px;
    padding-bottom: 22px;
    text-transform: uppercase;  
}

h2+p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    color: #424F57;
}

.section1_content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    justify-content: center;
}

.section1_content-text {
    width: 992px;
    height: 93px;
    text-align: center;
}

.section2 {
    background-image: url(../image/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-top: 90px;
}

.section2_wrapper {
    position: relative;
    padding-top: 128px; 
}

.section2_wrapper::after {
    content: ''; 
    position: absolute;
    top: 0;
    border: 50vmax solid transparent; 
    border-top: 85px solid white;
}

.section2_title {
    text-align: center;
    height: 133px;
}

h2+span {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
}

.section2_logo-item1 {
    display: flex;
    justify-content: space-between;
    padding: 19px 215px 0 208px;
    align-items: center;
}

.section2_logo-item2 {
    display: flex;
    justify-content: space-between;
    padding: 121px 194px 90px 230px;
    align-items: center;
}

.logo_adobe {
    background-color: #FFFFFF;
    width: 225px;
    height: 99px;
    padding: 19px 18px 17px 16px;
    display: flex;
    align-items: center;
}

.logo_adobe-2 {
    width: 114px;
    height: 38px;  
}

.section3 {
    padding-bottom: 128px;
}

.section3_title {
    margin-top: 172px;
    text-align: center;
    height: 142px;
}

.section3_team1 {
    display: flex;
    justify-content: center;
}

.section3_team {
    display: flex;
    width: 1010px;
    text-align: center;   
}

.section3_team-item {
    padding-right: 58px;  
}

img+p {
    width: 309px;
    height: 99px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
}

.section4 {
    background-image: url(../image/bg3.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.section4_wrapper {
    position: relative;
    background:linear-gradient(166deg, transparent 74%, white 0) right,  linear-gradient(-166deg, transparent 74%, white 0) left; 
    padding-bottom: 143px;
    padding-top: 190px;
}

.section4_wrapper::after {
    content: ''; 
    position: absolute;
    top: 0;
    border: 50vmax solid transparent; 
    border-top: 85px solid white;
}

.section4_title {
    text-align: center;
    height: 90px;
   
}

.section4_content {
    display: flex;
    justify-content: center;
}

.section4_content-text {
    width: 907px;
    height: 45px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 72px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: italic;
}

.section4-author {
    width: 907px; 
    text-align: end;
    color: #FFFFFF;
    padding-top: 28px;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
}

.section5_title {
    text-align: center;
    padding-top: 105px;
}

.section5_content {
    display: flex;
    justify-content: center;
}

.section5_content-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.75px;
    padding-top: 10px;
    width: 816px;
}

.footer_wrapper {
    display: flex;
    justify-content: center;
}

footer {
    padding-top: 96px;
    padding-bottom: 88px;
}

.footer_wrapper-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #3D3C3C;
}

a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3D3C3C;
    display: inline-block;
    padding-left: 3px;
}




